
*{
    margin-left: auto;
    margin-right: auto;
    
    
}
#subhead{
    margin-left: 0.3in;
    margin-right:0.3in;
    color:  rgb(90, 90, 90);
    
}
h1{
    color:  black;
    margin-left: 0.5in;
    margin-right: 0.5in;
}
p{
    color:  rgb(90, 90, 90);
    margin-left: 0.3in;
    margin-right: 0.3in;
}
ol{
    margin-left: 0.3in;
    margin-right: 0.3in;
}
#img{
    
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3{
    margin-left: 0.3in;
    margin-right: 0.3in;
}
ul{
    margin-left: 0.3in;
    margin-right: 0.3in;
}
body{
    background-image: url("bg.png");
    padding: 0.2in 2.5in ;
    
    
}
#heading{
    background-image: url("canvas.png");
    background-color: cccc;
    padding: auto;
    color:  rgb(90, 90, 90);
}
footer{
    text-align: center;
    color: rgb(255, 255, 255);
}

a{
    align-self: auto;
    padding: auto;
}
hr{
    border: 0.1px dashed rgb(90, 90, 90);
    height: "0px";
}
