
*{
    margin-left: auto;
    margin-right: auto;
    
    
}
#subhead{
    padding-left: 3%;
    padding-right:3%;
    color:  rgb(90, 90, 90);
    
}
h1{
    color:  black;
    padding-left: 5%;
    padding-right: 5%;
}
p{
    color:  rgb(90, 90, 90);
    padding-left: 3%;
    padding-right: 3%;
}
ol{
    padding-left: 3%;
    padding-right: 3%;
}
#img{
    
    display:block;
    padding: auto ;
    max-width: 100%;
    border: 2px solid rgb(90, 90, 90);
    width: auto;
    height: auto;
    border-radius: 5%;
    
}
h3{
    padding-left: 3%;
    padding-right: 3%;
}
ul{
    margin-left: 5%;
    margin-right: 5%;
    
}
.ravi{
    list-style-image: url("comments.png");
    align-items: center;
}
.admin{
    list-style-image: url("admin.png");
}
body{
    background-image: url("bg.png");
    padding: 2% 15% ;
    
    
}
#heading{
    background-image: url("canvas.png");
    background-color: cccc;
    padding: auto;
    color:  rgb(90, 90, 90);
}

footer{
    text-align: center;
    color: rgb(255, 255, 255);
}

a{
    align-self: auto;
    padding: auto;
}
hr{
    border: 0.1px dashed rgb(90, 90, 90);
    height: "0px";
}
.nxt{
    position:absolute;
    right: 20%;
}
.post{
    list-style-image: url("comments2.png");
    border: 1px outset rgb(90, 90, 90);
    
}

